html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body{
    font-family: 'Roboto';
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
        /*  text-decoration - убирает декорирование текста 
        underline
        none
        throughline 
        etc
    */
}
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* 
        flex - превращает элемент в flex-container
        justify-content - свойство устанавливающее правило расположения дочерних
        элементов по x
            * space-between - все элементы распологаются равномерно по ширине,
            а крайние прилегают по краям.
            * space-around - все элементы распологаются равномерно по ширине,
            а крайние имеют растояние от краёв равное половине растояния
            других элементов друг от друга.
            * center - все элементы стремятся к центру.
            * left, right, end, start, baseline
    */
    padding: 59px 0;
}
.intro > div{
    width: 47%;
}
.container {
    max-width: 1157px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.intro-title {
    font-size: 48px;
    font-weight: 700;
    color: #1F2E35;
}
.intro-title > span, .info-title > span, .info-text > span{
    color: #EE4248;
}
.intro-text {
    font-size: 20px;
    color: #30444E;
    margin: 24px 0;
    /* margin-top: 24px; */
}
.intro-btn {
    display: inline-block;
    padding: 12px 32px;
    font-size: 20px;
    color: #FFF;
    background-color: #EE4248;
    border-radius: 4px;
}

.info{
    padding: 57px 0 63px 0;
    background-color: #F6F6F6;
}
.info-title{
    text-align: left;
    font-size: 32px;
    color: #1F2E35;
}
.info-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info-content {
    width: 45%;
}
.info-article {
    font-size: 18px;
    color: #30444E;
    margin-top: 24px;
}
.info-text:nth-child(2) {
    margin-top: 18px;
}

.footer {
    
}
.footer-info {
    width: 100%;
    display: flex;
    align-items: end;
    gap: 47px;
    padding-top: 115px;
    padding-bottom: 13px;
}
.footer-info-item {
}
.logo {
    display: flex;
    align-items: center;
}
.logo-left {
    font-weight: 900;
    font-size: 48px;
}
.logo-left span:first-child{
    color: #85171A;
}
.logo-left span:nth-child(2){
    color: #DC2025;
}
.logo-left span:last-child{
    color: #FEBA08;
}
.logo-right span {
    display: block;
    font-weight: 500;
    font-size: 10px;
    color: #263238;
}
.logo-right span:last-child {
    color: #000;
}
.footer-info-title {
    font-size: 18px;
    color: #263238;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 8px;
}
.footer-info-text {
    font-size: 18px;
    font-weight: 300;
    color: #263238;
    line-height: 149%;

}
.footer-contacts-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-rights {
    width: 100%;
    padding: 22px 0;
    color: #FFF;
    text-align: center;
    background-color: #EE4248;
}

/* 
    gap - создаёт разрыв между flex - элементами
    line-height - изменяет высоту строки. 100% или 1 - cтандартная высота.
    text-align изменяет положение текста по x. 
 */